body {
    background-color:  #343a40;
}

.colour-nav {
    background-color: #343a40;
}

@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

.font-header {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 12vh;
    font-family: 'Seaweed Script', cursive;
    color: white;
}

.font-title {
    font-family: 'Bowlby One SC', cursive;
    font-size: 4vh;
    text-decoration: underline;
    color: white;
}

.font-title-half {
    border-top: 2px solid whitesmoke;
    font-family: 'Bowlby One SC', cursive;
    font-size: 2.5vh;
    color: rgb(187, 159, 174);
}

.font-text-half {
    font-family: cursive;
    color: white;
}

.font-text {
    margin-left: 1%;
    font-family: cursive;
    color: white;
}

.font-text-link {
    display: inline-block;
    margin-left: 1%;
    font-family: cursive;
    border-bottom: 3px solid transparent;
    color: white;
}
.font-text-link-half {
    white-space: pre-wrap; /* CSS3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    font-family: cursive;
    border-bottom: 3px solid transparent;
    color: white;
}
.font-text-link-half:hover {
    color: whitesmoke;
    text-decoration: none;
    border-bottom: 3px solid whitesmoke;
}
.font-text-link:hover {
    color: whitesmoke;
    text-decoration: none;
    border-bottom: 3px solid whitesmoke;
}

.font-text-footer {
    font-size: 1.8vh;
    font-family: cursive;
    color: white;
}

.font-text-link-footer {
    font-size: 1.8vh;
    display: inline-block;
    font-family: cursive;
    color: white;
    border-bottom: 3px solid transparent;
}

.font-text-link-footer:hover {
    color: whitesmoke;
    text-decoration: none;
    border-bottom: 3px solid whitesmoke;
}

.avatar-small {
    width: 4vh !important;
    height: 4vh !important;
}