
/* Navbar stuff */
body {
    background-color:  #343a40;
}

.colour-nav {
    background-color: #343a40;
}

.nav-menu-bg {

    background-color: #44474b !important;
}

.nav-item-bg {
    color: rgb(139, 139, 139);
}

.nav-item-bg:hover {
    background-color: initial;
    color: whitesmoke;
}
/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Seaweed+Script&family=Lobster&display=swap');


/* Big front header */
.font-header {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 12vh;
    font-family: 'Lobster', cursive;
    color: white;
}

/* Subtitles bigger */

.font-title {
    margin-top: 2%;
    font-family: 'Seaweed Script', cursive;
    font-size: 8vh;
    color: white;
}

.font-title-border {
    margin-top: 2%;
    border-top: 2px solid whitesmoke;
    font-family: 'Lobster', cursive;
    font-size: x-large;
    color: rgb(187, 159, 174);
}

/* Standard and footer text */

.font-text {
    font-size: normal ;
    font-family: 'Courgette', cursive;
    color: white;
}

.font-text-footer {
    font-family: 'Courgette', cursive;
    font-size: x-small;
    color: white;
}

/* Standard and footer link */

.font-text-link {
    font-size: normal;
    font-family: 'Courgette', cursive;
    border-bottom: 3px solid transparent;
    color: white;
}

.font-text-link:hover {
    color: whitesmoke;
    text-decoration: none;
    border-bottom: 3px solid whitesmoke;
}


.font-text-link-footer {
    font-family: 'Courgette', cursive;
    color: white;
    border-bottom: 1px solid transparent;
}

.font-text-link-footer:hover {
    color: whitesmoke;
    text-decoration: none;
    border-bottom: 1px solid whitesmoke;
}

/* Avatars */

.avatar-small {
    width: 24px !important;
    height: 24px !important;
}